# Week 8 Assignment

_MkKinney 6.1_

This week has been all about getting information off the internet both in structured data formats (CSV, JSON, etc) as well as HTML.  For these exercises, we're going to use two practical examples of fetching data from web pages to show how to use Pandas and BeautifulSoup to extract structured information from the web.

---
---

### 33.1 Parsing a list in HTML

Go to the Banner Health Price Transparency Page: https://www.bannerhealth.com/patients/billing/pricing-resources/hospital-price-transparency

Notice that there is a list of hospitals and the city they are in.  We want to parse the underlying HTML to create a list of all the hospitals along with which city they're in.

```json
[
    ["Banner - University Medical Center Phoenix", "Arizona"],
    ["Banner - University Medical Center South ", "Arizona"],
    ...
]
```

To examine the underlying HTML code, you can use Chrome, right-click, and choose **Inspect**.

For reference, the documentation for BeautifulSoup is here: https://www.crummy.com/software/BeautifulSoup/bs4/doc/

In [1]:
from bs4 import BeautifulSoup
import requests
headers = { "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 11_2_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36" }

response = requests.get('https://www.bannerhealth.com/patients/billing/pricing-resources/hospital-price-transparency', headers=headers)
soup = BeautifulSoup(response.text, 'html.parser')

In [2]:
div = soup.find_all('div', {"class":"col-md-8"})[0]
for hospital_list in div.find_all('ul'):
    state = hospital_list.previous_sibling.previous_sibling.string
    for hospital in hospital_list.find_all('li'):
        print(state, hospital.text)

Arizona Banner - University Medical Center Phoenix
Arizona Banner - University Medical Center South
Arizona Banner - University Medical Center Tucson
Arizona Banner Baywood Medical Center
Arizona Banner Behavioral Health Hospital
Arizona Banner Boswell Medical Center
Arizona Banner Casa Grande Medical Center
Arizona Banner Del E. Webb Medical Center
Arizona Banner Desert Medical Center/Cardon Children's Medical Center
Arizona Banner Estrella Medical Center
Arizona Banner Gateway Medical Center/Banner MD Anderson Cancer Center
Arizona Banner Goldfield Medical Center
Arizona Banner Heart Hospital
Arizona Banner Ironwood Medical Center
Arizona Banner Ocotillo Medical Center
Arizona Banner Payson Medical Center
Arizona Banner Thunderbird Medical Center
Arizona Page Hospital
California Banner Lassen Medical Center
Colorado Banner Fort Collins Medical Center
Colorado McKee Medical Center
Colorado North Colorado Medical Center
Colorado Sterling Regional Medical Center
Colorado East Morgan County Hospital
Nebraska Ogallala Community Hospital
Nevada Banner Churchill Community Hospital
Wyoming Banner Wyoming Medical Center
Wyoming Community Hospital
Wyoming Washakie Medical Center
Wyoming Platte County Memorial Hospital
State-Specific Regulations Arizona
State-Specific Regulations California
State-Specific Regulations Colorado
State-Specific Regulations Nebraska
State-Specific Regulations Nevada
State-Specific Regulations Wyoming

---

### 33.2 Using Pandas to Read Tables


Pandas documentation for loading data https://pandas.pydata.org/pandas-docs/version/0.23.4/api.html#input-output

Pandas documentation for describing the shape of data https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.shape.html

In [3]:
import pandas as pd

In [4]:
tables = pd.read_html('https://en.wikipedia.org/wiki/Diagnosis-related_group')
len(tables)

5

In [5]:
for index,table in enumerate(tables):
    print("**************TABLE {}".format(index))
    print(table)

**************TABLE 0
    0                                                  1
0 NaN  This article has multiple issues. Please help ...
1 NaN  This article needs to be updated. Please updat...
2 NaN  This article needs additional citations for ve...
**************TABLE 1
    0                                                  1
0 NaN  This article needs to be updated. Please updat...
**************TABLE 2
    0                                                  1
0 NaN  This article needs additional citations for ve...
**************TABLE 3
   Hypothetical patient at Generic Hospital in San Francisco, CA, DRG 482, HIP & FEMUR PROCEDURES EXCEPT MAJOR JOINT W/O CC/MCC (2001)[15]:8  \
0                                         Description
1                              Average length of stay
2                      Large urban labor-related rate
3                       Large urban non-labor-related
4                                          Wage index
5   Standard Federal Rate: labor * wage index + no...
6                     DRG relative weight (RW) factor
7    Weighted payment: Standard Federal Rate * DRG RW
8                Disproportionate Share Payment (DSH)
9                    Indirect medical education (IME)
10                   Total cost outlier reimbursement
11  Total operating payment: Weighted payment * (1...

   Hypothetical patient at Generic Hospital in San Francisco, CA, DRG 482, HIP & FEMUR PROCEDURES EXCEPT MAJOR JOINT W/O CC/MCC (2001)[15]:8.1
0                                               Value
1                                             3.8[16]
2                                           $2,809.18
3                                           $1,141.85
4                                              1.4193
5                                           $5,128.92
6                                              1.8128
7                                           $9,297.71
8                                              0.1413
9                                              0.0744
10                                                 $0
11                                         $11,303.23
**************TABLE 4
     Name  Version       Start date  \
0  MS-DRG       25  October 1, 2007
1  MS-DRG       26  October 1, 2008
2  MS-DRG       27  October 1, 2009
3  MS-DRG       31  October 1, 2013
4  MS-DRG       32  October 1, 2014
5  MS-DRG       33  October 1, 2015
6  MS-DRG       34  October 1, 2016
7  MS-DRG       35  October 1, 2017

                                               Notes
0  Group numbers resequenced, so that for instanc...
1  One main change: implementation of Hospital Ac...
2  Changes involved are mainly related to Influen...
3                                                NaN
4                                                NaN
5            Convert from ICD-9-CM to ICD-10-CM.[17]
6  Address ICD-10 replication issues introduced i...
7  MS-DRGs 984 through 986 deleted and reassigned...

In [6]:
drgs = tables[4]
drgs

,Name,Version,Start date,Notes
0,MS-DRG,25,"October 1, 2007","Group numbers resequenced, so that for instanc..."
1,MS-DRG,26,"October 1, 2008",One main change: implementation of Hospital Ac...
2,MS-DRG,27,"October 1, 2009",Changes involved are mainly related to Influen...
3,MS-DRG,31,"October 1, 2013",NaN
4,MS-DRG,32,"October 1, 2014",NaN
5,MS-DRG,33,"October 1, 2015",Convert from ICD-9-CM to ICD-10-CM.[17]
6,MS-DRG,34,"October 1, 2016",Address ICD-10 replication issues introduced i...
7,MS-DRG,35,"October 1, 2017",MS-DRGs 984 through 986 deleted and reassigned...

---

### 33.3 Find Something of Your Own

Do some web searches and find an HTML page with some data that is interesting to something you're studying.  You can extract and parse that information using either BeautifulSoup or Pandas.  If you're using Pandas, then do something interesting to format and structure your data.  If you're using BeautifulSoup, you'll just need to do the work of parsing the data out of HTML -- that's hard enough!

You don't need to build this as a function.  Just use notebook cells as I've done above.  You will be graded based on _style_.  Use variable names that make sense for your problem / solution. Cleanup anything you don't need before you submit your work.

In [7]:
# Your Code Here

In [8]:
import pandas as pd

In [9]:
tables = pd.read_html('https://en.wikipedia.org/wiki/US_Open_(tennis)')

In [10]:
for index,table in enumerate(tables):
    print("**************TABLE {}".format(index))
    print(table)

**************TABLE 0
                                                0  \
0                                             NaN
1                                Official website
2                                         Founded
3                                        Editions
4                                        Location
5                                           Venue
6                                         Surface
7                                     Prize money
8                                           Men's
9                                            Draw
10                              Current champions
11                            Most singles titles
12                            Most doubles titles
13                                        Women's
14                                           Draw
15                              Current champions
16                            Most singles titles
17                            Most doubles titles
18                                  Mixed doubles
19                                           Draw
20                              Current champions
21                             Most titles (male)
22                           Most titles (female)
23                                     Grand Slam
24  Australian Open French Open Wimbledon US Open
25                                 Last completed
26                                   2020 US Open

                                                    1
0                                                 NaN
1                                    Official website
2                                 1881; 140 years ago
3                                          140 (2020)
4               New York City, New York,United States
5   USTA Billie Jean King National Tennis Center (...
6   Grass – outdoors (1881–1974)Clay – outdoors (1...
7                           US$53.4 million (2020)[1]
8                                               Men's
9                                   128S / 128Q / 64D
10  Dominic Thiem (singles)Mate PavićBruno Soares ...
11           7 Richard SearsWilliam LarnedBill Tilden
12              6Mike BryanRichard SearsHolcombe Ward
13                                            Women's
14                                  128S / 128Q / 64D
15  Naomi Osaka (singles)Laura SiegemundVera Zvona...
16                                     8Molla Mallory
17                          13Margaret Osborne duPont
18                                      Mixed doubles
19                                                 32
20                  Bethanie Mattek-SandsJamie Murray
21                 4 Bill TildenBill TalbertBob Bryan
22                          9 Margaret Osborne duPont
23                                         Grand Slam
24      Australian Open French Open Wimbledon US Open
25                                     Last completed
26                                       2020 US Open
**************TABLE 1
   2020    2019    2018    2017    2016    2015    2014    2013    2012  \
0  0[d]  737872  732663  691143  688542  691280  713642  713026  710803

     2011    2010    2009    2008    2007    2006    2005
0  658664  712976  721059  720227  715587  640000  659538
**************TABLE 2
               0        1        2       3          4          5          6   \
0           Event        W        F      SF  4th Round  3rd Round  2nd Round
1         Singles  3800000  1850000  925000     475000     266000     156000
2        Doubles*   700000   350000  166400      85275        NaN      27876
3  Mixed Doubles*   155000    70000   30000      15000      10000       5000

          7      8      9      10      11
0  1st Round     Q3     Q2     Q1     NaN
1      93000  54000  30000  16000  8000.0
2      16500    NaN    NaN    NaN     NaN
3        NaN    NaN    NaN    NaN     NaN
**************TABLE 3
         0          1     2     3    4    5    6    7   8   9
0    Event      Event     W     F   SF   QF   4R   3R  2R  1R
1  Singles        Men  2000  1200  720  360  180   90  45  10
2  Singles  Women[61]  2000  1300  780  430  240  130  70  10
3  Doubles        Men  2000  1200  720  360  180   90   0   –
4  Doubles      Women  2000  1300  780  430  240  130  10   –
**************TABLE 4
                   Event                            Champion  \
0    Men's singles final                       Dominic Thiem
1  Women's singles final                         Naomi Osaka
2    Men's doubles final             Mate Pavić Bruno Soares
3  Women's doubles final      Laura Siegemund Vera Zvonareva
4    Mixed doubles final  Bethanie Mattek-Sands Jamie Murray

                      Runner-up                         Score
0              Alexander Zverev  2–6, 4–6, 6–4, 6–3, 7–6(8–6)
1             Victoria Azarenka                 1–6, 6–3, 6–3
2  Wesley Koolhof Nikola Mektić                      7–5, 6–3
3      Nicole Melichar Xu Yifan                      6–4, 6–4
4  Chan Hao-ching Michael Venus                      6–2, 6–3
**************TABLE 5
                                               Record               Era  \
0                                      Men since 1881    Men since 1881
1                           Most men's singles titles       Before 1968
2                           Most men's singles titles       Before 1968
3                           Most men's singles titles       Before 1968
4                           Most men's singles titles          Open Era
5                           Most men's singles titles          Open Era
6                           Most men's singles titles          Open Era
7                Most consecutivemen's singles titles       Before 1968
8                Most consecutivemen's singles titles          Open Era
9                           Most men's doubles titles       Before 1968
10                          Most men's doubles titles       Before 1968
11                          Most men's doubles titles          Open Era
12               Most consecutivemen's doubles titles       Before 1968
13               Most consecutivemen's doubles titles          Open Era
14               Most consecutivemen's doubles titles          Open Era
15                  Men with mostmixed doubles titles          All time
16                  Men with mostmixed doubles titles          All time
17                  Men with mostmixed doubles titles          All time
18                  Men with mostmixed doubles titles          All time
19                  Men with mostmixed doubles titles          All time
20                  Men with mostmixed doubles titles          All time
21                  Men with mostmixed doubles titles          All time
22  Most titles (singles,men's doubles,mixed doubl...       Before 1968
23  Most titles (singles,men's doubles,mixed doubl...          Open Era
24                                   Women since 1887  Women since 1887
25                        Most women's singles titles       Before 1968
26                        Most women's singles titles          Open Era
27                        Most women's singles titles          Open Era
28             Most consecutive women'ssingles titles       Before 1968
29             Most consecutive women'ssingles titles       Before 1968
30             Most consecutive women'ssingles titles          Open Era
31                         Most women'sdoubles titles       Before 1968
32                         Most women'sdoubles titles          Open Era
33             Most consecutive women'sdoubles titles       Before 1968
34             Most consecutive women'sdoubles titles          Open Era
35             Most consecutive women'sdoubles titles          Open Era
36                Women with mostmixed doubles titles       Before 1968
37                Women with mostmixed doubles titles          Open Era
38                Women with mostmixed doubles titles          Open Era
39                Women with mostmixed doubles titles          Open Era
40  Most titles (singles,women's doubles, mixed do...       Before 1968
41  Most titles (singles,women's doubles, mixed do...          Open Era
42                                      Miscellaneous     Miscellaneous
43                            Youngest singles titles               Men
44                            Youngest singles titles             Women
45                              Oldest singles titles               Men
46                              Oldest singles titles             Women
47                                         Match wins               Men
48                                         Match wins             Women

                  Player(s)                      Count  \
0            Men since 1881             Men since 1881
1             Richard Sears                          7
2            William Larned                          7
3               Bill Tilden                          7
4             Jimmy Connors                          5
5              Pete Sampras                          5
6             Roger Federer                          5
7             Richard Sears                          7
8             Roger Federer                          5
9             Richard Sears                          6
10            Holcombe Ward                          6
11               Mike Bryan                          6
12            Richard Sears                          6
13          Todd Woodbridge                          2
14           Mark Woodforde                          2
15         Edwin P. Fischer                          4
16       Wallace F. Johnson                          4
17              Bill Tilden                          4
18             Bill Talbert                          4
19            Owen Davidson                          4
20            Marty Riessen                          4
21                Bob Bryan                          4
22              Bill Tilden                         16
23                Bob Bryan                          9
24         Women since 1887           Women since 1887
25          / Molla Mallory                          8
26              Chris Evert                          6
27          Serena Williams                          6
28          / Molla Mallory                          4
29             Helen Jacobs                          4
30              Chris Evert                          4
31  Margaret Osborne duPont                         13
32      Martina Navratilova                          9
33  Margaret Osborne duPont                         10
34   Virginia Ruano Pascual                          3
35             Paola Suárez                          3
36  Margaret Osborne duPont                          9
37           Margaret Court                          3
38         Billie Jean King                          3
39      Martina Navratilova                          3
40  Margaret Osborne duPont                         25
41      Martina Navratilova                         16
42            Miscellaneous              Miscellaneous
43             Pete Sampras   19 years and 1 month[62]
44             Tracy Austin  16 years and 8 months[62]
45           William Larned  38 years and 8 months[62]
46          / Molla Mallory  42 years and 5 months[62]
47            Jimmy Connors             98 (1970-1992)
48          Serena Williams            106 (1998-2020)

                                                Years
0                                      Men since 1881
1                                             1881–87
2                                    1901–02, 1907–11
3                                       1920–25, 1929
4                           1974, 1976, 1978, 1982–83
5                           1990, 1993, 1995–96, 2002
6                                             2004–08
7                                             1881–87
8                                             2004–08
9   1882–84, 1886–87 with James Dwight1885 with Jo...
10  1899–1901 with Dwight F. Davis1904–06 with Bea...
11  2005, 2008, 2010, 2012, 2014 with Bob Bryan201...
12                                            1882–87
13                                            1995–96
14                                            1995–96
15  1894–96 with Juliette Atkinson1898 with Carrie...
16  1907 with May Sayers1909, 1911, 1915 with Haze...
17  1913–14 with Mary Browne1922–23 with Molla Mal...
18               1943–46 with Margaret Osborne duPont
19  1966 with Donna Floyd1967, 1971, 1973 with Bil...
20  1969–70, 1972 with Margaret Court1980 with Wen...
21  2003 with Katarina Srebotnik2004 with Vera Zvo...
22  1913–29 (7 singles,5 men's doubles,4 mixed dou...
23          2003–14 (5 men's doubles,4 mixed doubles)
24                                   Women since 1887
25                             1915–18, 1920–22, 1926
26                                1975–78, 1980, 1982
27                          1999, 2002, 2008, 2012–14
28                                            1915–18
29                                            1932–35
30                                            1975–78
31  1941 with Sarah Palfrey Cooke1942–50, 1955–57 ...
32  1977 with Betty Stöve1978, 1980 with Billie Je...
33  1941 with Sarah Palfrey Cooke1942–50 with Loui...
34                                            2002–04
35                                            2002–04
36  1943–46 with Bill Talbert1950 with Ken McGrego...
37                   1969–70, 1972 with Marty Riessen
38   1971, 1973 with Owen Davidson1976 with Phil Dent
39  1985 with Heinz Günthardt1987 with Emilio Sánc...
40  1941–60 (3 singles,13 women's doubles,9 mixed ...
41  1977–2006 (4 singles,9 women's doubles,3 mixed...
42                                      Miscellaneous
43                           19 years and 1 month[62]
44                          16 years and 8 months[62]
45                          38 years and 8 months[62]
46                          42 years and 5 months[62]
47                                     98 (1970-1992)
48                                    106 (1998-2020)
**************TABLE 6
                      0                                      1  \
0  Preceded byWimbledon  Grand Slam TournamentAugust–September
1  Preceded byNew Haven           US Open SeriesJuly–September

                             2
0  Succeeded byAustralian Open
1             Succeeded byNone
**************TABLE 7
  .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteUS Open  \
0  Men's singles Women's singles Men's doubles Wo...
1                                       Pre Open Era
2                                           Open Era
3                                 Open-era finalists

  .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteUS Open.1
0  Men's singles Women's singles Men's doubles Wo...
1  1881 1882 1883 1884 1885 1886 1887 1888 1889 1...
2  1968 1969 1970 1971 1972 1973 1974 1975 1976 1...
3                                 Open-era finalists
**************TABLE 8
      Articles and topics related to US Open (tennis)  \
0   vteUS Open men's singles drawsheetsPre Open Er...
1                 vteUS Open men's singles drawsheets
2                                        Pre Open Era
3                                            Open Era
4                 vteUS Open men's doubles drawsheets
5                                        Pre Open Era
6                                            Open Era
7               vteUS Open women's singles drawsheets
8                                        Pre Open Era
9                                            Open Era
10              vteUS Open women's doubles drawsheets
11                                       Pre Open Era
12                                           Open Era
13                        vteMajor tennis tournaments
14                                         Grand Slam
15                                             Former
16                                          vteTennis
17  History Glossary Match types Statistics Player...
18                                             Basics
19                                            General
20                                             Courts
21                                              Shots
22                                        Grand Slams
23                                             Events
24                                              Stats
25                                  Professionaltours
26                                                Men
27                                              Women
28                             Team tennistournaments
29                                             Active
30                                            Defunct
31                                  Multi-sportevents
32                                   Intercontinental
33                                        Continental
34                                   Governing bodies
35                Tennis portal  Outline  WikiCommons
36                 vteGrand Slam tournament champions
37                         Grand Slam overall records
38                                    Australian Open
39                                        French Open
40                                          Wimbledon
41                                            US Open
42                                    All tournaments
43  Men's singles finals Women's singles finals Ag...
44                      vteUS Open Series tournaments
45                                           ATP Tour
46                                           WTA Tour

    Articles and topics related to US Open (tennis).1  \
0   vteUS Open men's singles drawsheetsPre Open Er...
1                 vteUS Open men's singles drawsheets
2   1881 1882 1883 1884 1885 1886 1887 1888 1889 1...
3   1968 1969 1970 1971 1972 1973 1974 1975 1976 1...
4                 vteUS Open men's doubles drawsheets
5   1881 1882 1883 1884 1885 1886 1887 1888 1889 1...
6   1968 1969 1970 1971 1972 1973 1974 1975 1976 1...
7               vteUS Open women's singles drawsheets
8   1887 1888 1889 1890 1891 1892 1893 1894 1895 1...
9   1968 1969 1970 1971 1972 1973 1974 1975 1976 1...
10              vteUS Open women's doubles drawsheets

In [18]:
cash = tables[2]
cash

,0,1,2,3,4,5,6,7,8,9,10,11
0,Event,W,F,SF,4th Round,3rd Round,2nd Round,1st Round,Q3,Q2,Q1,NaN
1,Singles,3800000,1850000,925000,475000,266000,156000,93000,54000,30000,16000,8000.0
2,Doubles*,700000,350000,166400,85275,NaN,27876,16500,NaN,NaN,NaN,NaN
3,Mixed Doubles*,155000,70000,30000,15000,10000,5000,NaN,NaN,NaN,NaN,NaN

In [37]:
value = cash.drop(0, axis=1) # remove event, singles, doubles etc
value_2 = value.drop(0) # removes W F SF etc
value = value_2.fillna(0) # replace NaN to 0

value

,1,2,3,4,5,6,7,8,9,10,11
1,3800000,1850000,925000,475000,266000,156000,93000,54000,30000,16000,8000.0
2,700000,350000,166400,85275,0,27876,16500,0,0,0,0.0
3,155000,70000,30000,15000,10000,5000,0,0,0,0,0.0

In [40]:
sum1 = 3800000+1850000+925000+475000+266000+156000+93000+54000+30000+16000+8000.0
sum1 += 700000+350000+166400+85275+27876+16500
sum1 += 155000+70000+30000+15000+10000+5000
sum1

9304051.0

In [38]:
row_1 = value.loc[1].astype(int).sum()  #.loc allows access of rows and columns by labels
row_2 = value.loc[2].astype(int).sum()  #.astype(int) allows program to read numbers as int rather than string
row_3 = value.loc[3].astype(int).sum()

sum = row_1 + row_2 + row_3 
print(sum)

9304051

---

## Submitting Your Work

In order to submit your work, you'll need to use the `git` command line program to **add** your homework file (this file) to your local repository, **commit** your changes to your local repository, and then **push** those changes up to github.com.  From there, I'll be able to **pull** the changes down and do my grading.  I'll provide some feedback, **commit** and **push** my comments back to you.  Next week, I'll show you how to **pull** down my comments.

To run through everything one last time and submit your work:
1. Use the `Kernel` -> `Restart Kernel and Run All Cells` menu option to run everything from top to bottom and stop here.
2. Save this note with Ctrl-S (or Cmd-S)
2. Skip down to the last command cell (the one starting with `%%bash`) and run that cell.

If anything fails along the way with this submission part of the process, let me know.  I'll help you troubleshoort.

In [ ]:
assert False, "DO NOT REMOVE THIS LINE"

---

In [ ]:
#%%bash
#git pull
#git add week08_assignment_2.ipynb
#git commit -a -m "Submitting the week 8 programming assignment"
#git push


---

If the message above says something like _Submitting the week 8 programming assignment_ or _Everything is up to date_, then your work was submitted correctly.